$color-white: #FFFFFF;
$color-black-text: #252C32;
$color-btn-blue: #4094F7;
$color-btn-blue-80: rgba(64, 148, 247, 0.8);
$color-link-text-blue: #0E73F6;
$color-link-text-blue-40: rgba(14, 115, 246, 0.4);
$color-btn-white: #F6F8F9;
$color-placeholder: #9AA6AC;
$color-text-period: #000000;
$color-input-icon: #B0BABF;
$color-chekbox-border: #DEE2E6;
$color-input-border: #DDE2E4;
$color-text-subItem: #84919A;
$color-bg-status: #EEF0F2;
$color-text-status: #5B6871;
$color-bg-form: #F6FCFF;
$color-scroll-bg: #D7EDFF;
$color-border-item: #9BCFFD;
$color-scroll-color-vert: rgba(26, 32, 36, 0.2);
$color-bg-info: #303940;


$ff-Inter: "Inter", "Arial", sans-serif;


$vp-tablet: 1023px;
$vp-mobile: 767px;