.custom-checkbox {
  position: relative;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;

  &__lable {
    padding: 0 0 0 24px;
    user-select: none;
    cursor: pointer;

    ::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border: 1px solid $color-chekbox-border;
        border-radius: 4px;
        background-color: $color-white;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
  }
}
